@using ProyectoEntityFramework.Models
@model List<VISTADOCPLANT>
@{
    ViewBag.Title = "PaginacionVista";
}

@{ 
    int numPag = 1;
    int registros =ViewBag.Registros;
    int numReg =ViewBag.NumReg ;
    
}
<h2>Paginacion Vista</h2>

<form method="post">
    <label>Registros:</label>
    <select name="registros">
        <option>Seleccione:</option>
        @for (int i = 1; i <= 7; i++)
        {
            
            <option value="@i" >@i</option>
        }
    </select>
    <input type="number" name="pos" value="@ViewBag.Posicion"  />
    <button type="submit" class="btn-danger">Cambiar</button>
    
</form>

<p>@ViewBag.Registros</p>

<table class="table table-bordered">
    <tr>
        <td>Número emp: </td>
        <td>Apellido:</td>
        <td>Trabajo:</td>
        <td>Salario:</td>
        <td>Nombre del hospital:</td>
    </tr>
    @if (Model != null)
    {
        foreach (VISTADOCPLANT emp in Model)
        {
            <tr>
                <td>@emp.DOCTOR_NO</td>
                <td>@emp.APELLIDO</td>
                <td>@emp.ESPECIALIDAD</td>
                <td>@emp.SALARIO</td>
                <td>@emp.NOMBRE</td>
            </tr>
        }
    }
</table>

<div>

    @for (int i =1; i<= registros; i+=numReg) { //Cuántas páginas va a haber 
        //1, 2, 3        
        
        int posicion = numPag - 1;
        @Html.ActionLink(numPag.ToString(),"PaginacionVista","Paginacion", new { posicion= posicion , numReg = numReg},null)
        numPag += 1;
        ViewBag.Posicion = posicion;
    }
</div>