@model IEnumerable<SeguridadEmpleados.Models.Empleados>

@{
    ViewBag.Title = "EmpleadosOficio";
}

<h2>EmpleadosOficio</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Oficio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Oficio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salario)
        </td>
        <td>
            @Html.ActionLink("Edit", "ModificarEmpleado","Manager", new { empno=item.Emp_no },null) |
            @Html.ActionLink("Details", "Details", new { id=item.Emp_no }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Emp_no })
        </td>
    </tr>
}

</table>
