@model ProyectoMvcEneroAjax.Models.Hospital

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<div>
    <h4>Hospital</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tlf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tlf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumCamas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumCamas)
        </dd>

    </dl>
</div>
@using (Html.BeginForm()) { 
    @Html.AntiForgeryToken()
<div>
    <input type="hidden" value="@Model.HospiCod" class="form-control" name="hospiCod" />
    <input type="submit" class="btn-danger" value="Eliminar" />
    @Html.ActionLink("Back to List", "Index")
</div>

}
@*<p>
    @Html.ActionLink("Delete", "Delete", new { hospiCod = Model.HospiCod }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
