@model IEnumerable<ProyectoMvcEneroAjax.Models.Hospital>

@{
    ViewBag.Title = "Index";
}

<h2>Hospitales</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tlf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumCamas)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tlf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumCamas)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { hospiCod=item.HospiCod })
        </td>
    </tr>
}

</table>
