@model InyeccionDepartamentos.Models.Departamento

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    
<div class="form-horizontal">
    <h4>Departamento</h4>
    <hr />
    <div  hidden>
            <input value="@Model.Dept_no" type="text" class="form-control" name="Dept_no" required />
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Nombre</label>
        <div class="col-md-10">
            <input value="@Model.DNombre" type="text" class="form-control" name="DNombre" required />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Nombre</label>
        <div class="col-md-10">
            <input value="@Model.Loc" type="text" class="form-control" name="Loc" required />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" />
        </div>
    </div>
    <h1>@ViewBag.DatosIncorrectos</h1>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


